<html>

<head>
    <title> Add Task</title>
    <link rel="stylesheet" href="/css/addTask.css">
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/addTask.js"></script>
</head>

<body>
    <button id="backBtn">Back</button>
    <br>
    <br>
    <form>
        <fieldset>
            <label>Task</label>
            <input type="text>">
            <br>
            <br>
            <label>Status</label>
            <select>
                <option>Complete</option>
                <option>Incomplete</option>
            </select>
            <br>
            <br>
            <label>Owner</label>
            <select>
                <option>Abirami</option>
                <option>Srimathi</option>
                <option>Glory</option>
            </select>
            <br>
            <br>
            <input type="submit">
            <input type="reset">
        </fieldset>
    </form>
</body>

</html>