<html>

<head>
    <title>Add User</title>
    <link rel="stylesheet" href="/css/addUser.css">
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/addUser.js"></script>
</head>

<body>
    <button id="backBtn">Back</button>
    <br>
    <br>
    <form>
        <fieldset>
            <label>Name:</label>
            <input type="text">
            <br>
            <br>
            <label>email:</label>
            <input type="email">
            <br>
            <br>
            <label>Password:</label>
            <input type="password">
            <br>
            <br>
            <input type="submit">
            <input type="reset">
        </fieldset>
    </form>
</body>

</html>