<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/login.js"></script>
</head>

<body>
    <h3>Login Page:</h3>
    <div>
        <form>
            <fieldset>
                <br>
                <label>Username:</label>
                <input type="text" id="uName">
                <br>
                <br>
                <label>Password:</label>
                <input type="password" id="lPassword">
                <br>
                <br>
                <input type="checkbox" id="check">Show Password
                <br>
                <br>
                <input type="checkbox" id="remMe">Remember Me
                <br>
                <br>
                <input type="button" id="loginBtn" value="Login">
                <br>
                <br>
                <a href="/forgetpassword" id="forget">Forget Password</a>
                <a href="/registration">Registration</a>
            </fieldset>
        </form>
    </div>
</body>
</html>