<html>

<head>
    <title>Tasks</title>
    <link rel="stylesheet" href="css/tasks.css">
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/tasks.js"></script>
</head>

<body>
    <h1>Tasks</h1>
    <a href="/users">Users</a>
    <a href="/tasks">Tasks</a>
    <br>
    <br>
    <div id="btnDiv">
        <button id="addBtn">Add</button>
        <button>Edit</button>
        <button>Delete</button>
    </div>
    <br>
    <br>
    <table id="tasks">
        <thead>
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Reading</td>
                <td>Completed</td>
                <td>Abirami</td>
            </tr>
            <tr>
                <td>Writing</td>
                <td>Incompleted</td>
                <td>Srimathi</td>
            </tr>
            <tr>
                <td>Listening</td>
                <td>Incompleted</td>
                <td>Glory</td>
            </tr>
        </tbody>
    </table>
</body>

</html>