<html>

<head>
    <title>Tasks</title>
    <link rel="stylesheet" href="css/tasks.css">
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/tasks.js"></script>
</head>

<body >
    <h1>{{title}}</h1>
    <a href="/users">Users</a>
    <a href="/tasks">Tasks</a>
    <br>
    <br>
    <div id="btnDiv">
        <button id="addBtn">Add</button>
        <button id="editBtn">Edit</button>
        <button id="delBtn">Delete</button>
    </div>
    <br>
    <br>
    <table id="tasks">
        <thead>
            <tr>
                <th></th>
                <th>Task</th>
                <th>Status</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            {{#each tasks}}
            <tr>
                <td><input type="checkbox"></td>
                <td>{{this.task}}</td>
                <td>{{this.status}}</td>
                <td>{{this.owner_id}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>