<html>

<head>
    <title>users</title>
    <link rel="stylesheet" href="css/users.css">
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/users.js"></script>
</head>

<body>
    <h1>{{title}}</h1>
    <a href="/users">Users</a>
    <a href="/tasks">Tasks</a>
    <br>
    <br>
    <div id="btnDiv">
        <button id="addBtn">Add</button>
        <button id="editBtn">Edit</button>
        <button id="delBtn">Delete</button>
    </div>
    <br>
    <br>
    <table id="users">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Mail Id</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td><input type="checkbox" id="{{this._id}}"></td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>